MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=main
MYSQL_USER=loghive
MYSQL_PASSWORD=

MONGO_USER=loghive
MONGO_PASSWORD=
MONGO_DATABASE=loghive

REDIS_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=7d

APP_URL=http://localhost

RESEND_API_KEY=
RESEND_FROM_EMAIL=alerts@yourdomain.com
